extends ../layout.pug

block content
  div(class='breadcrumb')
    div= title
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/shipinpiers') Shipinpiers
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/port') Port
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/ship') Ship
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/piers') Piers

