include ./mixins/navbar
doctype html
html
  head
    title Lab2 - #{title}
    style(type='text/css').
      .none {
        display: none;
      }
      .list-icon{

        margin: 5px 15px;
      }
      .list-icon a{
        margin-left: 10px;
      }
      .ship, .port, .piers{
        font-size: 15px;
        margin-bottom: 10px;
        border: 2px solid #000;
        padding: 5px;
      }
    block styles
      link(rel='stylesheet' href='/main.css')
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous")
  body
    block nav#navbar
      +nav('Lab2', 'main_menu')
        +nav_item( '/' ) Home
        +nav_item( '/workPorts' ) Work with ports
        +nav_item( '/workShips' ) Work with ships
        +nav_item( '/workPortsAndShips' ) Work with ports and piers
        +nav_item( '/report' ) Report
    div.main.container
      div(class='breadcrumb')
        h3 Симуляція роботи порту
      div.list-group
        h5.text-info Наші колекції
        div.list-group-item
          span(class='list-icon glyphicon glyphicon-briefcase')
            a(href='/ports') Ports
          span(class='list-icon glyphicon glyphicon-briefcase')
            a(href='/ships') Ships
          span(class='list-icon glyphicon glyphicon-briefcase')
            a(href='/piers') Piers

    div.main.container
        block content
    block foot
      #footer
    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous")
      script(src='/static/js/main.js')
      script(src='/static/js/models/base.js')

