extends ../layout

block content
  div(class='breadcrumb')
    div= title
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/product/list') Products
      a(href='/product/add')
        span(class='list-icon glyphicon glyphicon-plus')
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-globe')
      a(href='/pier/list') Pier
      a(href='/pier/add')
        span(class='list-icon glyphicon glyphicon-plus')
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-book')
      a(href='/ship-in-pier/list') Ship in pier
      a(href='/ship-in-pier/add')
        span(class='list-icon glyphicon glyphicon-plus')